h1{
  background: rgb(30, 215, 96);
}

.titulo{
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.principal{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  font-family: Helvetica;
  padding: 0px 30px;
}

.contenedor1,
.contenedor2,
.contenedor3,
.contenedor4 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 15px 5px rgb(189, 189, 189);
  }

  .lista{
    list-style: none;
  }

  .boton{
    text-decoration: none;
    padding: 13px 50px;
    background: rgb(30, 215, 96);
    color: white;
    border-radius: 26px;
    transition: 0,5;
  }

  .boton:hover{
    padding: 14px 51px;
    background: rgb(29, 201, 89);
  }